## Resources
- [FIPS codes](https://www2.census.gov/geo/docs/reference/codes/files/)
- [Census API: Datasets in /data/2018/acs/acs5/profile and its descendants](https://api.census.gov/data/2018/acs/acs5/profile.html)
- [American Community Survey 5-Year Data (2009-2018)](https://www.census.gov/data/developers/data-sets/acs-5year.html)
- [Census Datasets](https://api.census.gov/data.html)
- [Notes on ACS Estimate and Annotation Values (weird values)](https://www.census.gov/data/developers/data-sets/acs-1year/notes-on-acs-estimate-and-annotation-values.html)
- [Getting Census Data in 5 Easy Steps (towards data science)](https://towardsdatascience.com/getting-census-data-in-5-easy-steps-a08eeb63995d)
- [Using the Census Bureau's API (medium)](https://medium.com/@shep.nathan.d/using-the-u-s-census-bureaus-api-af113337f478)
- [Census Burearu YouTube tutorial (youtube)](https://www.youtube.com/watch?v=K0-ifZS0mQI&feature=emb_title&ab_channel=U.S.CensusBureau)
- [DATA GEMS: How to Extract Data from the Census API (youtube)](https://www.youtube.com/watch?v=0DVdHquaRiU)
- [Python Tutorial: Using the Census API (datacamp video)](https://www.youtube.com/watch?v=l47HptzM7ao)


- [Land Area and Persons per Square Mile](https://www.census.gov/quickfacts/fact/note/US/LND110210)
- [Gazetteer 2018 Geographic Data](https://www.census.gov/geographies/reference-files/time-series/geo/gazetteer-files.2018.html)

## Contents  
- [Pulling DP05 From Census API](#Pulling-DP05-From-Census-API)
- [Pulling Land Area](#Pulling-Land-Area)

In [1]:
import pandas as pd
import requests

# Pulling DP05 From Census API

Table: https://data.census.gov/cedsci/table?q=ACSDP1Y2019.DP05&tid=ACSDP5Y2018.DP05&hidePreview=false  
ACS DEMOGRAPHIC AND HOUSING ESTIMATES   
Survey/Program: American Community Survey   
2018: ACS 5-Year Estimates Data Profiles  
TableID: DP05

In [2]:
# Reference: Census YT tutorial: https://www.youtube.com/watch?v=K0-ifZS0mQI&feature=emb_title&ab_channel=U.S.CensusBureau
# Added in 'NAME' parameter
# Edit 'DP05' table
# add in state:48 for TX

### Format URL should be in

In [3]:
example_url = 'https://api.census.gov/data/2018/acs/acs5/profile?get=group(DP05),NAME&for=county:*&in=state:48&key=abaab7067d6de5d6a0216fca0b8fca4e9015a87f'

### Pulling data for 2018 DP05 table (ACS 5-Year Demographic and Housing Estimates)

In [4]:
# Set base url
url = 'https://api.census.gov/data/2018/acs/acs5/profile?'

# Set params
params = {
    'get': 'group(DP05),NAME',
    'for': 'county:*',
    'in': 'state:48',
    'key': 'abaab7067d6de5d6a0216fca0b8fca4e9015a87f'
}

# Make a request and display the response code.
res = requests.get(url,params)
res

In [5]:
df = pd.DataFrame(res.json())
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,707,708,709,710,711,712,713,714,715,716
0,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,DP05_0033PM,...,DP05_0029PEA,DP05_0030MA,DP05_0030EA,DP05_0030PMA,DP05_0030PEA,DP05_0031MA,DP05_0031EA,DP05_0031PEA,state,county
1,"Austin County, Texas",0.6,87.0,1.9,-888888888,-888888888,29565,-555555555,29565,-888888888,...,None,None,None,None,None,None,None,None,48,015
2,"Kenedy County, Texas",20.5,34.7,38.9,-888888888,-888888888,595,181,595,-888888888,...,None,None,None,None,None,None,None,None,48,261

In [6]:
# Set the values in the first row to the columns
df.columns = df.iloc[0]

In [7]:
# Drop the first row
df = df.iloc[1:, :]

df.head(3)

,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,DP05_0033PM,...,DP05_0029PEA,DP05_0030MA,DP05_0030EA,DP05_0030PMA,DP05_0030PEA,DP05_0031MA,DP05_0031EA,DP05_0031PEA,state,county
1,"Austin County, Texas",0.6,87.0,1.9,-888888888,-888888888,29565,-555555555,29565,-888888888,...,None,None,None,None,None,None,None,None,48,015
2,"Kenedy County, Texas",20.5,34.7,38.9,-888888888,-888888888,595,181,595,-888888888,...,None,None,None,None,None,None,None,None,48,261
3,"Nueces County, Texas",0.1,79.3,0.3,-888888888,-888888888,360486,-555555555,360486,-888888888,...,None,None,None,None,None,None,None,None,48,355

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 1 to 254
Columns: 717 entries, NAME to county
dtypes: object(717)
memory usage: 1.4+ MB

In [10]:
df.to_csv('../data/preprocessing/tx_dp05_data.csv', index=False)

### Now Pulling Headers

In [11]:
# Per directions in tutorial at https://www.youtube.com/watch?v=K0-ifZS0mQI&feature=emb_title&ab_channel=U.S.CensusBureau,
# downloaded table and saved csv data with overlays
# These headers correspond to the codes in the previous table

header_df = pd.read_csv('../data/preprocessing/acsdp5y2018_data_with_overlays.csv')
header_df.head(3)

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,0500000US48001,"Anderson County, Texas",0.5,87.5,1.9,(X),(X),57863,*****,57863,...,97,8199,(X),3827,25,46.7,0.5,4372,93,53.3
2,0500000US48003,"Andrews County, Texas",1.4,78.9,4.5,(X),(X),17818,*****,17818,...,118,1843,(X),813,50,44.1,1.4,1030,79,55.9

In [11]:
# Get rid of geo ID column
header_df = header_df.iloc[:, 1:]

header_df.head(3)

,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,DP05_0033PM,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,Percent Margin of Error!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,"Anderson County, Texas",0.5,87.5,1.9,(X),(X),57863,*****,57863,(X),...,97,8199,(X),3827,25,46.7,0.5,4372,93,53.3
2,"Andrews County, Texas",1.4,78.9,4.5,(X),(X),17818,*****,17818,(X),...,118,1843,(X),813,50,44.1,1.4,1030,79,55.9

In [12]:
header_df.to_csv('../data/preprocessing/tx_dp05_headers.csv')

### Examine the columns

In [13]:
api_cols = list(df.columns)

In [14]:
header_cols = list(header_df.columns)

In [15]:
len(api_cols), len(header_cols)

(717, 358)

In [16]:
# Examine the difference in columns
difference = set(api_cols) - set(header_cols)

print(len(difference))

list(difference)[:10]

358

['DP05_0059EA',
 'DP05_0038PMA',
 'DP05_0067PEA',
 'DP05_0029MA',
 'DP05_0078PEA',
 'DP05_0038MA',
 'DP05_0064EA',
 'DP05_0016PMA',
 'DP05_0050PEA',
 'DP05_0086EA']

In [17]:
# By looking some of these up in the .csv, it appears at least some are blank

In [18]:
df.isna().sum()

0
NAME              0
DP05_0031PM       0
DP05_0032E        0
DP05_0032M        0
DP05_0032PE       0
               ...
DP05_0031MA     243
DP05_0031EA     254
DP05_0031PEA    254
state             0
county            0
Length: 717, dtype: int64

In [19]:
# Save the null values to a new dataframe.
nan_df = pd.DataFrame(df.isna().sum(), columns=['NaN Counts'])

# Display the entries with NaN counts for every one of 254 counties.
nan_df[nan_df['NaN Counts'] == 254]

              NaN Counts
0
DP05_0032EA          254
DP05_0033EA          254
DP05_0033PEA         254
DP05_0034MA          254
DP05_0034EA          254
...                  ...
DP05_0029PEA         254
DP05_0030EA          254
DP05_0030PEA         254
DP05_0031EA          254
DP05_0031PEA         254

[294 rows x 1 columns]

In [20]:
# 294 of the values are blank
# But even if we dropped all the blank columns we'd still have 423, versus 356 in the other...

## Create a dictionary of the columns and their identifiers

In [21]:
row_one_df = header_df.iloc[:1, :]

row_one_df

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...

In [22]:
# Convert the row of the dataframe into a list
descriptions = row_one_df.values.tolist()

# The output is a nested list so convert it to a regular list
descriptions = descriptions[0]

# View the first five entries
descriptions[:5]

['id',
 'Geographic Area Name',
 'Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female',
 'Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)',
 'Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)']

In [23]:
# Check the length of the headers and their descriptions
len(header_cols), len(descriptions)

(358, 358)

In [24]:
# Create a dictionary from a zipped list of the header columns and descriptions
header_dict = dict(zip(header_cols, descriptions))

# View the first five entries in the dictionary
list(header_dict.items())[:5]

[('GEO_ID', 'id'),
 ('NAME', 'Geographic Area Name'),
 ('DP05_0031PM',
  'Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female'),
 ('DP05_0032E',
  'Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)'),
 ('DP05_0032M',
  'Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)')]

In [25]:
# Rename the colums in the original dataframe according to the dictionary
df.rename(columns = header_dict, inplace=True)

In [26]:
# Drop columsn with NaN values
df.dropna(axis=1, inplace=True)

In [27]:
# Display the dataframe
df.head(3)

,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,Percent Margin of Error!!RACE!!Total population,...,DP05_0004PMA,DP05_0004PEA,DP05_0018PMA,DP05_0018PEA,DP05_0025PMA,DP05_0028PMA,DP05_0028PEA,DP05_0029PMA,state,county
1,"Austin County, Texas",0.6,87.0,1.9,-888888888,-888888888,29565,-555555555,29565,-888888888,...,(X),(X),(X),(X),(X),(X),(X),(X),48,015
2,"Kenedy County, Texas",20.5,34.7,38.9,-888888888,-888888888,595,181,595,-888888888,...,(X),(X),(X),(X),(X),(X),(X),(X),48,261
3,"Nueces County, Texas",0.1,79.3,0.3,-888888888,-888888888,360486,-555555555,360486,-888888888,...,(X),(X),(X),(X),(X),(X),(X),(X),48,355

In [29]:
df.to_csv('../data/preprocessing/tx_dp05_data_with_headers.csv', index=False)

# Pulling Land Area

I contacted the Census Burearu on slack for land data ('AREALAND' parameter wasn't working for the Decennial 2010), and they referred me to Gazetteer for land data.
- [Gazetteer 2018 Geographic Data](https://www.census.gov/geographies/reference-files/time-series/geo/gazetteer-files.2018.html)

In [33]:
# Read in land data as dataframe.
land = pd.read_csv('../data/preprocessing/tx_area.csv')

# 'ALAND' is in square meters. 
# To convert square meters to square miles, divide by 2_589_988.
land

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,TX,48001,1383786,Anderson County,2752198848,39810264,1062.630,15.371
1,TX,48003,1383787,Andrews County,3886850264,957039,1500.721,0.370
2,TX,48005,1383788,Angelina County,2066245670,173333993,797.782,66.925
3,TX,48007,1383789,Aransas County,652804638,714591509,252.049,275.905
4,TX,48009,1383790,Archer County,2339507619,57768335,903.289,22.304
...,...,...,...,...,...,...,...,...
249,TX,48499,1384035,Wood County,1671177481,130725856,645.245,50.474
250,TX,48501,1384036,Yoakum County,2071252477,34329,799.715,0.013
251,TX,48503,1384037,Young County,2368538309,42373290,914.498,16.360
252,TX,48505,1384038,Zapata County,2585876219,154370982,998.412,59.603
253,TX,48507,1384039,Zavala County,3360268880,11208707,1297.407,4.328

In [34]:
# Add Texas to 'NAME' so in-line with other dataframes.
land['NAME'] = land['NAME'] + ", Texas"

In [35]:
land.isna().sum()

USPS           0
GEOID          0
ANSICODE       0
NAME           0
ALAND          0
AWATER         0
ALAND_SQMI     0
AWATER_SQMI    0
dtype: int64

In [36]:
# Drop all the columns except for county name and land square miles.
land = land[['NAME', 'ALAND_SQMI']]
land

                       NAME  ALAND_SQMI
0    Anderson County, Texas    1062.630
1     Andrews County, Texas    1500.721
2    Angelina County, Texas     797.782
3     Aransas County, Texas     252.049
4      Archer County, Texas     903.289
..                      ...         ...
249      Wood County, Texas     645.245
250    Yoakum County, Texas     799.715
251     Young County, Texas     914.498
252    Zapata County, Texas     998.412
253    Zavala County, Texas    1297.407

[254 rows x 2 columns]

In [37]:
# Rename the columns.
land = land.rename(columns={'NAME': 'Geographic Area Name', 'ALAND_SQMI': 'sq_mi'})

In [38]:
land

       Geographic Area Name     sq_mi
0    Anderson County, Texas  1062.630
1     Andrews County, Texas  1500.721
2    Angelina County, Texas   797.782
3     Aransas County, Texas   252.049
4      Archer County, Texas   903.289
..                      ...       ...
249      Wood County, Texas   645.245
250    Yoakum County, Texas   799.715
251     Young County, Texas   914.498
252    Zapata County, Texas   998.412
253    Zavala County, Texas  1297.407

[254 rows x 2 columns]

In [39]:
# Set the county to the index
land = land.set_index('Geographic Area Name')

In [41]:
land.to_csv('../data/preprocessing/tx_area_cleaned.csv')