In [1]:
import pandas as pd

In [2]:
florida = pd.read_csv('../data/preprocessing/Florida_COVID19_Cases_by_County.csv')

In [5]:
florida.head(2)

,OBJECTID,OBJECTID_12_13,DEPCODE,COUNTY,COUNTYNAME,County_1,State,PUIsTotal,Age_0_4,Age_5_14,...,EverMon,MonNow,GlobalID,NewPos,NewNeg,NewTested,NewPercPos,MedianAge,SHAPE_Length,SHAPE_Area
0,1,1,21,41,GILCHRIST,Gilchrist,FL,1402,37,68,...,676,659,{CB6285A2-DA2E-4583-AAD5-1221776836AE},1,36,37,0.027027,41,1.429267,0.085831
1,2,2,54,107,PUTNAM,Putnam,FL,5988,167,522,...,1450,1387,{CE511C5D-2638-44A3-B2F8-B13847543637},11,205,216,0.050926,39,2.246428,0.199542

In [64]:
list(florida.columns)

['OBJECTID',
 'OBJECTID_12_13',
 'DEPCODE',
 'COUNTY',
 'COUNTYNAME',
 'County_1',
 'State',
 'PUIsTotal',
 'Age_0_4',
 'Age_5_14',
 'Age_15_24',
 'Age_25_34',
 'Age_35_44',
 'Age_45_54',
 'Age_55_64',
 'Age_65_74',
 'Age_75_84',
 'Age_85plus',
 'Age_Unkn',
 'PUIAgeRange',
 'PUIAgeMedian',
 'PUIFemale',
 'PUIMale',
 'PUISexUnkn',
 'PUIFLRes',
 'PUINotFLRes',
 'PUIFLResOut',
 'PUIContNo',
 'PUIContUnkn',
 'PUIAgeAvrg',
 'PUITravelNo',
 'PUITravelYes',
 'TPositive',
 'TNegative',
 'TInconc',
 'TPending',
 'T_Total_Res',
 'T_LabPrivate_Res',
 'T_LabDOH_Res',
 'T_LabPrivate_NonRes',
 'T_LabDOH_NonRes',
 'C_Female',
 'C_Male',
 'C_SexUnkn',
 'C_AllResTypes',
 'C_Age_0_4',
 'C_Age_5_14',
 'C_Age_15_24',
 'C_Age_25_34',
 'C_Age_35_44',
 'C_Age_45_54',
 'C_Age_55_64',
 'C_Age_65_74',
 'C_Age_75_84',
 'C_Age_85plus',
 'C_Age_Unkn',
 'C_AgeRange',
 'C_AgeMedian',
 'C_RaceWhite',
 'C_RaceBlack',
 'C_RaceOther',
 'C_RaceUnknown',
 'C_HispanicYES',
 'C_HispanicNO',
 'C_HispanicUnk',
 'C_EDYes_Res',
 'C_EDYes_NonRes',
 'C_HospYes_Res',
 'C_HospYes_NonRes',
 'C_NonResDeaths',
 'C_FLResDeaths',
 'CasesAll',
 'C_Men',
 'C_Women',
 'C_FLRes',
 'C_NotFLRes',
 'C_FLResOut',
 'T_NegRes',
 'T_NegNotFLRes',
 'T_total',
 'T_negative',
 'T_positive',
 'Deaths',
 'EverMon',
 'MonNow',
 'GlobalID',
 'NewPos',
 'NewNeg',
 'NewTested',
 'NewPercPos',
 'MedianAge',
 'SHAPE_Length',
 'SHAPE_Area']

In [6]:
florida_cases_death = florida[['COUNTYNAME', 'CasesAll','Deaths', 'T_total']]

In [9]:
florida_cases_death

   COUNTYNAME  CasesAll  Deaths  T_total
0   GILCHRIST       602      18     5016
1      PUTNAM      2355      50    19344
2      TAYLOR      1450      16     7170
3    OKALOOSA      6146     130    44602
4     CALHOUN       702      14     5254
..        ...       ...     ...      ...
64   FRANKLIN       747       4     5462
65    ALACHUA     10044      74   110327
66  ST. JOHNS      6280      80    66678
67    Unknown      1857       0    19276
68    A State    778636   16429  5960050

[69 rows x 4 columns]

In [10]:
florida_cases_death.to_csv('../data/Florida_covid_data.csv', index=False)